@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <div style="margin:auto 0; border:1px">
        You've clicked <span data-bind="text: numberOfClicks"></span> times
        <button data-bind="click: registerClick , disable: hasClickedTooManyTimes">Click me</button>
    </div>
</div>